#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export GOROOT=/usr/lib/go-1.8
export GOPATH=$(CURDIR)
export GO15VENDOREXPERIMENT=1

export PATH := $(PATH):$(GOROOT)/bin
export GIT_LAST_LOG=$(git log -1 | tr -d "'")

PKGDIR=debian/cgrates
SRCDIR=src/github.com/cgrates/cgrates

%:
	dh $@ --with quilt --with systemd

override_dh_clean:
	rm -rf $(GOPATH)/bin $(GOPATH)/pkg $(GOPATH)/src
	rm -rf $(GOPATH)/debian/cgrates.debhelper.log
	rm -f $(GOPATH)/goinstall.log

override_dh_auto_build:
	mkdir -p src/github.com/cgrates
	ln -sf $(CURDIR) src/github.com/cgrates/cgrates
	go get -v github.com/Masterminds/glide
	$(GOPATH)/bin/glide install
	go install -ldflags "-X 'github.com/cgrates/cgrates/utils.GitLastLog=${GIT_LAST_LOG}'" github.com/cgrates/cgrates/cmd/cgr-engine
	go install -ldflags "-X 'github.com/cgrates/cgrates/utils.GitLastLog=${GIT_LAST_LOG}'" github.com/cgrates/cgrates/cmd/cgr-loader
	go install -ldflags "-X 'github.com/cgrates/cgrates/utils.GitLastLog=${GIT_LAST_LOG}'" github.com/cgrates/cgrates/cmd/cgr-console
	go install -ldflags "-X 'github.com/cgrates/cgrates/utils.GitLastLog=${GIT_LAST_LOG}'" github.com/cgrates/cgrates/cmd/cgr-tester

# Install systemd unit files
override_dh_systemd_enable:
	dh_systemd_enable -p ivozprovider-cgrates --name=cgrates

override_dh_systemd_start:
	dh_systemd_start -p ivozprovider-cgrates --no-restart-on-upgrade --no-start

